<!-- Page Content -->
<div class="container">
  <div class="row-fluid">
    <div class="col-lg-12 text-center">
      <%= image_tag('prochat-logo-black.png') %>
      <p class="lead">Facilitating communications with Procore customers.</p>
      <div class="row-fluid">
        <div class="col-lg-2"> PROCORE ICON
        </div>
        <div class="col-lg-10"> COMPANY TEAM NAME
        </div>
        <div class="chat-sidebar">
          <div class="row logo col-lg-2">
            COMPANY LOGO
          </div>
          <div class="chat-messges col-lg-10">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
