.body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

main {
  padding-top: 18px;
  height: calc(100vh - 51px);
  width: 100vw;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.add-group:hover {
  text-decoration: none;
}

.conversation-category {
  font-weight: bold;
  font-size: 1.1em;
}

.media-heading {
  padding-left: 5px;
}

.media-heading > button {
  background: transparent;
  border: none;
  outline:none;
}

.main-logo {
  padding: 10px;
  padding-bottom: 0;
}

textarea {
  resize: none;
}


/* Simple Date Line CSS */
h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c3c2c2;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-top: 5px;
}

h3 > span {
  background: inherit;
  padding:0 10px;
  font-weight: bold;
  font-size: 0.5em;
  color: #c3c2c2;
  padding-bottom: 10px;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c3c2c2;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 > span {
  background: inherit;
  padding:0 10px;
  font-size: 0.5em;
  color: #c3c2c2;
}

.company-info {
  font-weight: bold;
}

.company-name {
  color: #f58025;
  font-size: 18px;
}
.search-convo {
  padding-right: 15px;
}

.company-logo {
  height: 100px;
  width: 100%;

}

.chat-title-info {
  padding-bottom: 10px;
  background-color: #fff;
  border-bottom: solid 1px #939393;
  padding-top: 5px;
}

.chat-title {
  font-size: 18px;
  padding: 12 10 10 10;
  font-weight: bold;
  color: #343739;
}

.add-group {
  padding-bottom: 30px;
}

.message-wrap {
  height: calc(100vh - 171px);
}

.user-conversations {
  overflow-y: scroll;
  height: calc(100vh - 230px);
}

.message-wrap {
  position: fixed;
}

.msg {
  padding-left: 5px;
}

.msg-wrap {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  width: 100%;
  background-color: #FFFFFF;
  padding: 3px;
}

.send-wrap {
  padding-top: 3px;
}

.media-heading > button {
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Pills */
.nav-pills {
  li > a {
    border-radius: 0px;
    padding: 2px 8px;
  }

  li.active > a {
    color:#0875CE;
  }

  li.active > a,
  li > a:hover {
    background-color: rgba(0,0,0,0);
    border-left-color: #7394CE;
    border-left-width: 5px;
    border-left-style: solid;
  }
}

.main-logo {
  text-align: center;
  margin: auto;
  padding-left: 175px;
}

.media-heading:hover {
  border-left-color: #7394CE;
  border-left-width: 1px;
  border-left-style: solid;
  max-width: 1px;
  height: 20px;
  background-image: linear-gradient(11deg, #529edc, #9a8ac0);
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.nav {
  padding-bottom: 10px;
  display: block;
}
